<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>
<link rel="stylesheet" href="/stylesheets/style.css" />

<main>
  <h1>Hello <%= user ? user.profile.name : "fellow camper, login to start your adventure!" %></h1>
  <% if (user?.profile.avatar) { %>
    <div>
      <img 
        src="<%= user.profile.avatar %>" 
        alt="<%= user.profile.name %> avatar"
      >
    </div>
  <% } %>
</main>

<%- include('./partials/footer') %>
