<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/style.css" />
<%- include('../partials/nav') %>
<main>
  <h1>All Campsites</h1>
  <table id="list">
     <thead>
      <tr>
        <th>Name</th>
        <th>Location</th>
        <th>Rating</th>
       
      </tr>
    </thead>
    <tbody>
      <% campsites.forEach(function(campsite) { %>
        <tr>
          <td><a href="/campsites/<%= campsite._id %>"><%= campsite.name %></a></td> 
          <td><%= campsite.location %></td>
          <td><%= campsite.rating %></td>
          <td><a href="/campsites/<%= campsite._id %>">Update</a></td>
        <td>
          <form action="/campsites/<%= campsite._id %>?_method=DELETE" method="POST">
            <button class="btn btn-primary">X</button>
          </form>
        </tr>
      <% })  %>
    </tbody>
  </table>
</main>

<%- include('../partials/footer') %>