<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/style.css" />
<%- include('../partials/nav') %>

<main>
  <div class="table">
  <h1> Campsite </h1>
  <section>
    <div>Name</div>
    <div><%= campsite.name %></div>
    <div>Location</div>
    <div><%= campsite.location %></div>
    <div>Rating</div>
    <div><%= campsite.rating %></div>
    <a href="/campsites/<%= campsite._id %>/edit">
      <button class="btn btn-primary" button>Edit Campsite</button>
    </a>
    
  </section>
  <h1> Comments </h1>
<% comments.forEach(comment => { %>
    <p><%= comment.author.name %> </p>
    <p><%= comment.content %> </p>
    <% }) %>
    <form action="/comments/<%= campsite._id %>" method="POST">
      <input type="text" name="content" id="comment-input" placeholder="Add your comments!" >
    <button class="btn btn-primary" button type="submit">Add Your Comment</button>
  </form>
</div>
</main>

<%- include('../partials/footer') %>