<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/style.css" />
<%- include('../partials/nav') %>

<main>
  <h1> Campsite </h1>
  <section>
    <div>Name</div>
    <div><%= campsite.name %></div>
    <div>Location</div>
    <div><%= campsite.location %></div>
    <div>Rating</div>
    <div><%= campsite.rating %></div>

  </section>

</main>

<%- include('../partials/footer') %>